<h1>Edit a Book</h1>

<form name="EditForm" novalidate ng-submit="ctrl.saveBook()" autocomplete="off">
    <div class="form-group" style="padding-bottom: 10px">
        <label for="editTitle">Title: </label>
        <input class=form-control" type="text" name="editTitle" id="editTitle" ng-model="ctrl.book.title" required>
    </div>

    <div class="form-group" style="padding-bottom: 10px">
        <label for="editAuthorFName">Author First Name: </label>
        <input class=form-control" type="text" name="editAuthorFName" id="editAuthorFName" ng-model="ctrl.book.author_firstname">
    </div>

    <div class="form-group" style="padding-bottom: 10px">
        <label for="editAuthorLName">Author Last Name: </label>
        <input class=form-control" type="text" name="editAuthorLName" id="editAuthorLName" ng-model="ctrl.book.author_lastname">
    </div>


    <button class="btn btn-primary" name="editSubmit" id="editSubmit" type="submit"
            ng-disabled="editForm.editTitle.$invalid">Submit</button>

    <a class="btn btn-warning" ui-sref="searchbooks">Cancel</a>

</form>


