<h1>Search Books</h1>

<div class="container" style="padding: 20px">

<form name="SearchForm" novalidate ng-submit="ctrl.searchBooks()" autocomplete="off">
    <div class="form-group" style="padding-bottom: 10px">
        <label for="bookTitle">Title: </label>
        <input class=form-control" type="text" name="bookTitle" id="bookTitle" ng-model="ctrl.query.title" required>
    </div>

    <div class="form-group" style="padding-bottom: 10px">
        <label for="bookAuthor">Author: </label>
        <input class=form-control" type="text" name="bookAuthor" id="bookAuthor" ng-model="ctrl.query.author">
    </div>

    <button class="btn btn-primary" name="querySubmit" id="querySubmit" type="submit"
            ng-disabled="SearchForm.bookTitle.$invalid">Search</button>

</form>


</div> <!--container -->

<!--Display search results-->
<table class="table table-striped" ng-show="ctrl.books.length">
    <thead>
    <tr><th>Title</th><th>Author First Name</th><th>Author Last Name</th><th>Thumbnail<th>Edit</th></tr>
    </thead>

    <tbody><tr ng-repeat="item in ctrl.books">
        <td>{{item.title}}</td>
        <td>{{item.author_firstname}}</td>
        <td>{{item.author_lastname}}</td>
        <td>{{item.cover_thumbnail}}</td>
        <td><a class="btn btn-primary" ui-sref="editbook({bookId: item.id})">Edit</a></td>
        <!--<td><a ui-sref="editbook({bookId: item.id})"></a>x</td>-->
    </tr>
</table>


